.widget-container {

  .widget-container-title-container {
    margin: 20px;
  }

  .widget-container-title {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Add text shadow */
  }

  .widget-container-description {
    text-align: center;
    color: #FFC107;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Add text shadow */
  }

  .widget-container-item {
    .square-button {
      position: relative;
      background-color: #2A4182;
      background-image: url('../../../../assets/images/customer/policy-widgets-background-web.png');
      background-size: cover;
      color: white;
      border-radius: 16px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      height: 250px;

      .title {
        color: white;
      }

      .description {
        color: #FFC107;
      } 

      @media (min-width: 320px) and (max-width: 480px) {
        /* Your mobile device styles here */
        height: 171px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-image: url('../../../../assets/images/customer/policy-widgets-background.png');
      }

      @media (min-width: 481px) and (max-width: 768px) {
        /* Your iPad and tablet styles here */
        height: 171px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-image: url('../../../../assets/images/customer/policy-widgets-background.png');
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        /* Your small screens and laptop styles here */
      }

      @media (min-width: 1025px) and (max-width: 1200px) {
        /* Your desktop and large screen styles here */
      }

      @media (min-width: 1201px) {
        /* Your extra large screen and TV styles here */
      }



      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        /* Transparent white overlay */
        opacity: 0;
        transition: opacity 0.2s;
        /* Add a transition for smooth hover effect */
      }

      &:hover {
        &::before {
          opacity: 1;
          /* Show the transparent overlay on hover */
        }
      }
    }
  }

}